* {
    box-sizing: border-box;
}
a{
    cursor: pointer;
    text-decoration: none;
}
    
body{    
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #0f1435;
    margin: 0;
    padding: 0;
    
}

/*PRESENTATION START*/

.presentation{
    width: 100%;
    margin-top:30px;
}
.present-row{
    padding-right: 90px;
    padding-left: 90px;
    display: flex;
    justify-content: space-between;
}
.present-choice{
    padding: 30px 15px;
    width: 48%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #1D1C44;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.present-img .teaching{
    width: 400px;
}
.present-img .watching{
    width: 100%;
    height: 250px;
}
.present-text-wrapper{
    margin-top: 20px;
}
.present-title{
    text-align: center;
    font-size: 22px;
    color: #1D1C44;
}
.present-disc{
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #979797;
}
.presentation-btn-wrapper{
    text-align: center;
    margin-top: 50px;
}
.presentation-btn{
    border: 2px solid #1D1C44;
    background: #ffffff;
    color: #1D1C44;
    border-radius: 10px;
    width: 210px;
    padding: 8px 0;
    font-weight: 700;
    cursor: pointer;
}
.presentation-btn:hover{
    background: #1D1C44;
    color: #f4f4f4;
    transition: .5s;
}



/*PRESENTATION END*/

/*CARUSEL START*/

h3{
    margin-left: 90px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}
.slider{
    width: 100%;
    height: 100%;
    overflow: inherit;
}
.podborki{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.cat{
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 30px;
    justify-content: center;
    max-height: 550px;
}
.slide{
    min-width: 150px;
    max-width: 600px;
    /* margin-right: 10px; */
    /* margin-left: 10px; */
    position: relative;
    height: 530px;
    background: #1D1C44;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.slide:hover {
    transform: translate(0,-5px);
    
}
.slider-img img{
    width: 100%;
    border-radius: 10px;
}
.slider-title, .slider-disc{
    text-align: center;
    margin-top: 10px;
}
.slider-title span{
    color: white;
    font-size: 24px;
    font-weight: normal;
}
.slider-disc span{
    color: #979797;
    font-size: 16px;
    font-weight: normal;
}
.slider-btn{
    margin-top: 50px;
    text-align: center;
}
.slider-btn-a{
    opacity: 0;
    width: 90px;
    height: 30px;
    border: 2px solid #979797;
    border-radius: 10px;
    color: #979797;
    padding: 8px 20px;
    text-decoration: none;
    transition: opacity .3s;
}
.slider-btn-a:hover{
    border: 2px solid #ffffff;
    color: #ffffff;
}

.slide:hover .slider-btn-a {
    opacity: 1;
    transition: opacity .3s;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
}
.slick-track{
    top: 10px;
}
.slick-prev:before{
    display: none;
}

/*CARUSEL END*/
/*RECOMENDED START*/

.recomended{
    width: 100%;
    max-height: 360px;
    background: #1D1C44;
    margin-top: 30px;
    height: 100%;
    overflow: hidden;
}
.rec-list{
    margin-left: 90px;
    margin-right: 90px;
    max-height: 360px;
    display: flex;
    flex-wrap: nowrap;    
}
.course-item{
    min-width: 300px;
    max-width: 450px;
    min-height: 300px;
    max-height: 350px;
    background: #0f1435;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.course-img{
    width: 100%;
    height: 170px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.course-info{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    color: #979797;
    font-size: 12px;
}

.col-time{
    display: flex;
    flex-direction: column;
}
.star{
    color: yellow;
}
.raiting{
    font-size: 16px;
}
.course-title{
    color: white;
}
.author-name{
    color: #979797;
    background: #0f1435;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.item-recomended{
    margin: 0;
    font-size: 16px;
}
.course-item:hover{
    color: #0f1435;
    transform: translateY(-5px);
    transition: .5s;

}

.course-item:hover .author-name:hover{
    color: #ffffff;
}


/*RECOMENDED END*/
@media (min-width: 320px){
    .present-row{
        padding-right: 10px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .present-choice{
        margin-top: 10px;
        padding: 30px 15px;
        width: 100%;
        height: 100%;
        background: #ffffff;
        border: 1px solid #1D1C44;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .present-img .teaching{
        width: 250px;
    }
    .present-img .watching{
        width: 100%;
        height: 150px;
    }
    .present-text-wrapper{
        margin-top: 20px;
    }
    .present-title{
        text-align: center;
        font-size: 18px;
        color: #1D1C44;
    }
    .present-disc{
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        color: #979797;
    }
    .presentation-btn-wrapper{
        text-align: center;
        margin-top: 50px;
    }
    .presentation-btn{
        border: 2px solid #1D1C44;
        background: #ffffff;
        color: #1D1C44;
        border-radius: 10px;
        width: 210px;
        padding: 8px 0;
        font-weight: 700;
        cursor: pointer;
    }

    .slider-disc span{
        display: none;
    }
    h3{
        margin-left: 90px;
        font-size: 28px;
    }
    .slider{
        margin-left: 0;
        margin-right: 0;
    }
    .slide{
        margin-right: 2px;
        height: 450px;
    }
    .slick-prev:before{
        display: none;
    }
    .rec-list{
        margin-left: 30px;
        margin-right: 30px;
    }
    .course-item{
        min-width: 200px;
        max-width: 400px;
        padding: 15px;
        min-height: 220px;
        margin-right: 5px;
    }
    
}
@media (min-width: 375px){
    .slide{
        margin-right: 2px;
        height: 450px;
    }
}
@media (min-width: 414px){
    .slide{
        margin-right: 5px;
        height: 350px;
    }
}
@media (min-width: 425px){
    .slide{
        margin-right: 2px;
        height: 370px;
    }
    .present-img .watching{
        width: 300px;
        height: 150px;
    }
}
@media (min-width: 768px){
    .present-row{
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .present-choice{
        margin-top: 0;
        padding: 30px 15px;
        width: 48%;
        height: 480px;
        background: #ffffff;
        border: 1px solid #1D1C44;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .present-img .teaching{
        width: 250px;
    }
    .present-img .watching{
        width: 100%;
        height: 156px;
    }
    .present-text-wrapper{
        margin-top: 20px;
    }
    .present-title{
        text-align: center;
        font-size: 22px;
        color: #1D1C44;
    }
    .present-disc{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        color: #979797;
    }
    .presentation-btn-wrapper{
        text-align: center;
        margin-top: 50px;
    }
    .presentation-btn{
        border: 2px solid #1D1C44;
        background: #ffffff;
        color: #1D1C44;
        border-radius: 10px;
        width: 210px;
        padding: 8px 0;
        font-weight: 700;
        cursor: pointer;
    }
    h3{
        margin-left: 90px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .slide{
        margin-right: 10px;
        height: 450px;
    }
    .slider-disc span{
        display: block;
    }
    .rec-list{
        margin-left: 30px;
        margin-right: 30px;
    }
    .course-img{
        height: 170px;
    }
    .course-item{
        min-width: 300px;
        max-width: 450px;
        margin-right: 20px;
        padding: 15px 30px;
    }
    
    
}


@media (min-width: 960px){
    .present-row{
        padding-right: 90px;
        padding-left: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .present-choice{
        margin-top: 0;
        padding: 30px 15px;
        width: 48%;
        height: 100%;
        background: #ffffff;
        border: 1px solid #1D1C44;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .present-img .teaching{
        width: 400px;
    }
    .present-img .watching{
        width: 100%;
        height: 250px;
    }
    .present-text-wrapper{
        margin-top: 20px;
    }
    .present-title{
        text-align: center;
        font-size: 22px;
        color: #1D1C44;
    }
    .present-disc{
        margin-top: 10px;
        text-align: center;
        font-size: 18px;
        color: #979797;
    }
    .presentation-btn-wrapper{
        text-align: center;
        margin-top: 50px;
    }
    .presentation-btn{
        border: 2px solid #1D1C44;
        background: #ffffff;
        color: #1D1C44;
        border-radius: 10px;
        width: 210px;
        padding: 8px 0;
        font-weight: 700;
        cursor: pointer;
    }
    h3{
        margin-left: 90px;
        color: white;
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    .slide{
        margin-right: 10px;
        height: 530px;
    }
    .slider-disc span{
        display: block;
    }
    .rec-list{
        margin-left: 30px;
        margin-right: 30px;
    }
    .course-img{
        height: 200px;
    }
    .course-item{
        min-width: 300px;
        max-width: 450px;
        margin-right: 10px;
        padding: 15px 30px;
    }
    
    
}



